@media (max-width: 380px) { body { font-size: 10pt; } }
@media (min-width: 381px) and (max-width: 480px) { body { font-size: 11pt; } }
@media (min-width: 481px) and (max-width: 680px) { body { font-size: 12pt; } }
@media (min-width: 681px) and (max-width: 880px) { body { font-size: 13pt; } }
@media (min-width: 881px) and (max-width: 1023px) { body { font-size: 14pt; } }
@media (min-width: 1024px) { body { font-size: 16pt; } }
.outerbox, div h3{
  pointer-events: none;
}
body{
	background-image:url(../html/background/BG12.jpg);
	background-position: center center;
	background-size: cover;
}
body.bg-01{ background-image:url(../html/background/BG01.jpg); }
body.bg-02{ background-image:url(../html/background/BG02.jpg); }
body.bg-03{ background-image:url(../html/background/BG03.jpg); }
body.bg-04{ background-image:url(../html/background/BG04.jpg); }
body.bg-05{ background-image:url(../html/background/BG05.jpg); }
body.bg-06{ background-image:url(../html/background/BG06.jpg); }
body.bg-07{ background-image:url(../html/background/BG07.jpg); }
body.bg-08{ background-image:url(../html/background/BG08.jpg); }
body.bg-09{ background-image:url(../html/background/BG09.jpg); }
body.bg-10{ background-image:url(../html/background/BG10.jpg); }
body.bg-11{ background-image:url(../html/background/BG11.jpg); }
body.bg-12{ background-image:url(../html/background/BG12.jpg); }
body.bg-13{ background-image:url(../html/background/BG13.jpg); }
body.bg-14{ background-image:url(../html/background/BG14.jpg); }
body.bg-15{ background-image:url(../html/background/BG15.jpg); }
body.bg-16{ background-image:url(../html/background/BG16.jpg); }
body.bg-17{ background-image:url(../html/background/BG17.jpg); }
body.bg-18{ background-image:url(../html/background/BG18.jpg); }
body .desktop{
	border-style: none;
	margin: auto;
}
body .desktop #aboard{
	background-color: transparent;
	border: none;
	max-height: 99vh;
	max-width: 98vw;
	height: 2560px;
	margin: 0.7% auto;
	aspect-ratio: 5/8;
	box-shadow:2px 2px 12px 2px rgba(0,0,0,0.3);
}
body .desktop #bboard{
	background-color: rgba(255,255,255,0.6);
}
body .desktop #aboard #bboard .topBar, body .desktop #aboard #bboard .bottomBar{
	background-color: rgba(0,0,0,0.5);
}
body .desktop #aboard #bboard .forward, body .desktop #aboard #bboard .back{
	background-color: rgba(255,255,255,0.5);
	box-shadow: 0 3px 8px 2px rgba(0,0,0,0.3);
	border-radius: 6px;
}
body .desktop #aboard #bboard .novel{
	background-color: transparent;
	font-family: sans-serif;
	font-family: serif;
	scrollbar-color: #ccc rgba(0,0,0,0);
	scrollbar-width: thin;
	padding: 5em 0 4em 0;
	text-shadow: 0 0 3px white,0 0 3px white,0 0 3px white,0 0 3px white;
}
body .desktop #aboard .novel .back::after{  font-size:80%;color:#aaa;content:"▶";}
body .desktop #aboard .novel .forward::after{  font-size:80%;color:#aaa;content:"◀";}
body .desktop #aboard .yoko .novel .back::after{  font-size:80%;content:"🔼";}
body .desktop #aboard .yoko .novel .forward::after{  font-size:80%;content:"🔽";}

body .desktop #aboard #bboard .fontSwitch,
body .desktop #aboard #bboard .configButton,
body .desktop #aboard #bboard .exitButton
{
	width: 40px;
	padding: 5px;
	margin: 0;
	border-style: none;
	background-color: unset;
	color: unset;
	cursor: pointer;
}
body .desktop #aboard #bboard .fontSwitch.pick .bottombutton{
	box-shadow:0 0 6px 2px #fff;
}
body .desktop #aboard #bboard .configButton{
	position:absolute;
	right:6px;
}
body .desktop #aboard #bboard .exitButton{
	position:absolute;
	left:6px;
}
.bottombutton{
	display: block;
	width: 100%;
}
.coverimage{
	position: absolute;
	cursor: pointer;
	bottom: 0;
	height: 100%;
	width: 100%;
	background-image:url(https://sayonaraoyasumi.github.io/storage/cover/cover_younaru.jpg);
	background-size:cover;
	background-position:center center;
	z-index: 200;
}
.bgselector{
	display: none;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	gap: 2%;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex-wrap: wrap;
	bottom: 0;
	height: 100%;
	width: 100%;
	z-index: 150;
}
.picturebutton{
	cursor: pointer;
	width: 250px;
	max-width: 30%;
	max-height: 15%;
}
#overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black; /* 黒の半透明 */
}
.dark{
	opacity: 0.95; /* 初期状態は不透明 */
	transition: opacity 0.5s ease; /* 透明度を0.5秒で変化 */
}
.bright{
	opacity: 0; /* 初期状態は不透明 */
	transition: opacity 0.5s ease; /* 透明度を0.5秒で変化 */
}
#aboard .novel{
	writing-mode: vertical-rl;
	font-family: serif;
	line-height: 1.8em;
	padding: 48px 1em 0.5em 1em;
	width: 100%;
	font-size:115%;
	overflow-y: hidden;
	overflow-x: auto;
	background-color: rgba(255,255,255,0.95);
	cursor: pointer;
/*  max-height: 1200px;*/
	height: calc(100% - 44px);
	white-space: break-spaces;
	box-sizing:border-box;
}
@media only screen and (max-width: 430px) {
  /* スタイルを適用したい要素のCSSスタイルを記述する */
  #aboard .novel {
    padding: 48px 0.5em 0.5em 0.5em;
  }
  #aboard .yoko .novel {
    padding: 48px 0.5em 0.5em 0.5em;
  }
}
#aboard .novel .tcy {
  -webkit-text-combine: horizontal;
  -ms-text-combine-horizontal: all;
  text-combine-upright: all;
}
#aboard .novel rt{
  font-size: 60%;
}
#aboard .novel.hide{
	display:none;
}

#aboard .novel.bigger, #aboard .novel.bigger td{
  font-size:140%;
}
#aboard .novel.big, #aboard .novel.big td{
  font-size:120%;
}
#aboard .novel.mid, #aboard .novel.mid td{
  font-size:110%;}
#aboard .novel.mini, #aboard .novel.mini td{
  font-size:100%;
}
#aboard .novel.minimum, #aboard .novel.minimum td{
  font-size:90%;
}

#aboard .yoko .novel{
  writing-mode: horizontal-tb;
  overflow-x:hidden;
  overflow-y:auto;
}
#aboard .novel .back, #aboard .novel .forward{
  display:flex;
  justify-content: center;
  align-items: center;
  margin: calc(50% - 50px) 15px;
  width:30px;
  height:100px;
  border: solid 1px #eee;
  background-color: #fff;
}
#aboard .yoko .novel .back{
  width:100px;
  height:30px;
  margin: 30px calc(50% - 50px) 0;
}
#aboard .yoko .novel .forward{
  width:100px;
  height:30px;
  margin: 30px calc(50% - 50px);
}
#aboard .novel .back::after{  content:"👉";}
#aboard .novel .forward::after{  content:"👈";}
#aboard .yoko .novel .back::after{  content:"👆";}
#aboard .yoko .novel .forward::after{  content:"👇";}

/*  Kindle へのリンク */
#aboard .footAd{
  padding:30px;
  margin:20px;
  text-align:right;
  border-right:dotted 12px #eee;
}
#aboard .yoko .footAd{
  text-align:center;
  border-right:dotted 0px #eee;
  border-top:dotted 12px #eee;
}

/*  ヘッドの章タイトル部分 */
#aboard .myTitle{
  border: solid 0px rgb(147, 207, 145);
  margin: 4px 4px;
  padding: 5px;
  line-height: 18px;
  box-sizing:border-box;
  overflow:hidden;
  white-space:nowrap;
}

#aboard .chapterBox{
	display:none;
	position:absolute;
	margin: 36px 0 0 0;
	padding: 0;
	width: 100%;
	max-height: calc(100% - 80px);
	overflow-y:scroll;
	overflow-x:hidden;
}
#aboard .chapterJump{
	margin: 0;
	border: solid 1px gray;
	border-top: none 1px gray;
	background-color: rgb(160,160,180);
	list-style: none;
  cursor: pointer;
	box-sizing:border-box;
	padding: 10px 1em;
	color: #fff;
}
#aboard .chapterJump:hover{
	background-color: rgb(200,200,220);
}
#aboard .partTitle{
	border: solid 1px gray;
	border-top: none 1px gray;
	background-color: rgb(140,140,150);
	list-style: none;
	box-sizing: border-box;
	padding: 10px 1em;
	color: #fff;
}

#aboard .section, #aboard .lyrics{
  margin: 6em 1em 1em 1em !important;
}
#aboard .yoko .section, #aboard .yoko .lyrics{
  margin: 1em 1em 1em 6em !important;
}
#aboard{
  position:relative;
  background-color: #ccccdd;
  border: solid 2px #ccccee; 
  width: 100%;
  box-sizing: border-box;
  height: 800px;
  margin-top: 1em;
  overflow: clip;
}
#bboard{
  position:absolute;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  overflow: clip;
  z-index: 1000;
}
#aboard .topBar{
  position: absolute;
  background-color: rgb(180,180,200);
  height:36px;
  width:100%;
  top: 0;
  font-weight: 700;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 100;
}
#aboard .centerBox{
  width: 100%;
  height: 100%;
  overflow: scroll;
}
#aboard .bottomBar{
  position: absolute;
  background-color: rgb(180,180,200);
  height:44px;
  width: 100%;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
#aboard h2{
  font-size: 120%;
  font-weight: bolder;
  padding: 1em 0 0 0.5em;
}
#aboard h3{
  font-size: 110%;
  font-weight: bolder;
  padding: 1em 0 0 0.5em;
}
#aboard h4, #aboard h5 {
  font-size: 105%;
  font-weight: bolder;
  padding: 1em 0 0 0.5em;
}
#aboard .yoko h2, #aboard .yoko h3, #aboard .yoko h4, #aboard .yoko h5{
  padding: 0 0 0 0.5em;
}
.fontSwitch{
  width: 40px;
  padding: 5px;
  margin: 12px 2px 12px 2px;
  line-height: 18px;
  border-radius: 4px;
  border: solid 1px #ccc;
  background-color: #FCFaF8;
  text-align: center;
  font-weight: normal;
  color: #aaa;
  cursor: pointer;
}
.fontSwitch.biggerfont{
	font-size: 140%;
}
.fontSwitch.bigfont{
	font-size: 120%;
}
.fontSwitch.midfont{
	font-size: 110%;
}
.fontSwitch.minifont{
	font-size: 100%;
}
.fontSwitch.minimumfont{
	font-size: 90%;
}
.fontSwitch.pick{
	background-color:#FFb;
  font-weight: bolder;
	color: #668;
}
#aboard .myIndex, #aboard .tateyoko, #aboard .zoomButton{
	width: 55px;
	padding: 5px;
	margin: 12px 2px 12px 2px;
	line-height: 18px;
	border-radius: 4px;
	border: solid 1px rgb(119, 167, 118);
	background-color: #a7cf9c;
	text-align: center;
	font-weight: normal;
	color: #444;
	cursor: pointer;
}
#aboard  .myIndex, #aboard .zoomButton{
	position:absolute;
	right:6px;
}
#aboard .tateyoko{
	position:absolute;
	left:6px;
}
#aboard table{
  border-collapse: collapse;
  border-spacing: 0;
  margin-right: 0;
  margin-left: 0;
  padding: 0 !important;
  width:auto;
  height: 100%;
  pointer-events: none;
}
#aboard tr{
  padding: 0 !important;
  margin: 0 !important;
}
#aboard .th{
  vertical-align:top;
  height: 20%;
  text-align:right;
  padding-bottom:0.5em;
}
#aboard .yoko .th{
  width: 33%;
}
#aboard td{
/*  vertical-align:middle;
  height: 84%;*/
  margin: 0 !important;
}
#aboard .na{
  padding-top: 1em;
}
#aboard .novel img{
  max-height: 80%;
}
.outerbox{
	white-space: normal;
}
.outerbox table{
	margin: 0.5em;
	font-size: 90%;
}
.outerbox div{
	margin: 0.5em;
	white-space: normal;
}