@charset "UTF-8";
/* でんでんコンバーター横書きデフォルト */
@namespace "http://www.w3.org/1999/xhtml";
@namespace epub "http://www.idpf.org/2007/ops";
html {
  -epub-writing-mode: horizontal-tb;
}

body {
  text-align: justify;
  text-justify: inter-ideograph;
  font-family: sans-serif, serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: bold;
  color: inherit;
}

h1 {
  font-size: 1.8em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

h2 {
  font-size: 1.5em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
	border-bottom: solid 4px #cccccc;
}

h3 {
  font-size: 1.3em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

h4 {
  font-size: 1em;
  margin-top: 0.6em;
  margin-bottom: 0.2em;
}

h5 {
  font-size: 0.875em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

h6 {
  font-size: 0.75em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

p {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  line-height: 1.8;
}

p, li, dt, dd {
  line-height: 1.8;
}

b, strong, dt, caption, figcaption, th {
  font-family: sans-serif, serif;
}

blockquote, ul,
fieldset, form,
ol, dl, menu {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding: 0;
}

blockquote blockquote, blockquote ol, blockquote ul, blockquote dl, ol blockquote, ol ol, ol ul, ol dl, ul blockquote, ul ol, ul ul, ul dl, dl blockquote, dl ol, dl ul, dl dl {
  margin-top: 0em;
  margin-bottom: 0em;
}

ol, ul, menu, dd {
  margin-left: 2em;
}

a {
  color: #0538b2;
}
a:hover {
  color: #b2058e;
}
a:active {
  color: #b27f05;
}

pre {
  white-space: pre-wrap;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

hr {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

rt {
  font-family: serif, sans-serif;
}

.tcy {
  -epub-text-combine: horizontal;
}

.sideways {
  -epub-text-orientation: sideways;
}

.upright {
  /* -epub-text-orientation: upright; */
  -epub-text-combine: horizontal;
}

.pagenum {
  color: gray;
  font-size: 0.8em;
}

.footnotes hr {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}
.footnotes ol {
  margin-left: 2em;
}
.footnotes li {
  font-size: 0.875em;
}

a.noteref {
  display: inline-block;
  border: none;
  font-size: 0.75em;
  line-height: 1;
  vertical-align: super;
  -epub-text-combine: horizontal;
}
a.noteref:before {
  content: "[";
}
a.noteref:after {
  content: "]";
}

@media print {
  h1 {
    page-break-before: always;
  }

  h1, h2, h3,
  h4, h5, h6 {
    page-break-after: avoid;
  }

  ul, ol, dl {
    page-break-before: avoid;
  }
}
table{
	width: 100%;
}
.moji{
  width:85%;
}
.moji2{
  width:55%;
}
.summery{
  width:70%;
}
.moji div,.moji2 div{
  border-radius: 1em;
  padding: 0.25em 1em;
  margin: 0.2em;
}
.bubble{
  border: solid 2px #ccc;
}
.bubble2{
  border: solid 4px #f0e0c0;
}
.bubble3{
  border: solid 4px #ffe0e0;
}
.bubble4{
  border: dashed 4px #ccc;
}
.bubble5{
  border: solid 2px #f0f0f0;
}
.bubble6{
  border: solid 2px #ccc;
	font-size: 1.08em;
}
.face, .eyecatch, .cat{
	text-align: center;
}
.cat img{
  width: 3em;
}
.face img{
  width: 3.5em;
}
.eyecatch img{
	width: 5em;
}
.center{
	text-align:center;
}
.left{
	text-align:left;
}
.separator{
	text-align:center;
  margin: 1.2em;
}
.separator img{
	width: 3em;
}
.togaki{
  border-left: dotted 12px #eee;
  padding: 0.5em 1em;
  margin: 0.5em 0.5em 0.5em 20%;
}
h2{
	text-align: center;
	padding-left: 1em;
}
h3{
  border-bottom: solid 1px #f81010;
	clear: both;
}
h4{
	padding-left: 1em;
}
h5{
	padding-left: 2em;
}
.underbar{
	width: 60%;
	height: 1px;
	border-top: solid 4px orange;
  margin-bottom: 1em;
}
