@charset "UTF-8";
/* でんでんコンバーター横書きデフォルト */
@namespace "http://www.w3.org/1999/xhtml";
@namespace epub "http://www.idpf.org/2007/ops";
html {
  -epub-writing-mode: horizontal-tb;
}

body {
  text-align: justify;
  text-justify: inter-ideograph;
  font-family: sans-serif, serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: bold;
  color: inherit;
}

h1 {
  font-size: 2em;
  margin-right: 0em;
  margin-left: 0em;
}

h2 {
  font-size: 1.5em;
  margin-right: 0em;
  margin-left: 0em;
}

h3 {
  font-size: 1.1em;
  padding: 0;
  padding-right: 0.9em;
  padding-left: 0.9em;
  padding-bottom: 0.1em;
  margin: 0em;
  margin-top: 0em;
  margin-bottom: 0.5em;
/*	border: solid 1px yellow;*/
  page-break-before: always;
  border-bottom: solid 1px #f81010;
}

h4 {
  font-size: 1em;
  padding: 0;
  padding-right: 0.9em;
  padding-left: 0.9em;
  margin: 0em;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
/*	border: solid 1px blue;*/
}

h5 {
  font-size: 0.875em;
  margin-right: 0em;
  margin-left: 0em;
}

h6 {
  font-size: 0.75em;
  margin-right: 0em;
  margin-left: 0em;
}

.subtitle{
  margin-right: 1em;
  margin-left: 1em;
  margin-top: 1em;
}
.wrap,.title{
	margin:0;
	padding:0;
	border: solid 1px orange;
}

p {
  margin-top: 0em;
  margin-bottom: 0em;
  line-height: 1.8;
}

p, li, dt, dd {
  line-height: 1.8;
}

b, strong, dt, caption, figcaption, th {
  font-family: sans-serif, serif;
}

blockquote, ul,
fieldset, form,
ol, dl, menu {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding: 0;
}

blockquote blockquote, blockquote ol, blockquote ul, blockquote dl, ol blockquote, ol ol, ol ul, ol dl, ul blockquote, ul ol, ul ul, ul dl, dl blockquote, dl ol, dl ul, dl dl {
  margin-top: 0em;
  margin-bottom: 0em;
}

ol, ul, menu, dd {
  margin-left: 2em;
}

a {
  color: #0538b2;
}
a:hover {
  color: #b2058e;
}
a:active {
  color: #b27f05;
}

pre {
  white-space: pre-wrap;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.centerimage{
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
	text-align: center;
}

hr {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

rt {
  font-family: serif, sans-serif;
}

.tcy {
  -epub-text-combine: horizontal;
}

.sideways {
  -epub-text-orientation: sideways;
}

.upright {
  /* -epub-text-orientation: upright; */
  -epub-text-combine: horizontal;
}

.section{
  margin-right: 1em;
  margin-left: 1em;
  margin-top: 25%;
}

.lyrics{
  margin-right: 1em;
  margin-left: 1em;
  margin-top: 3em;
}

.pagenum {
  color: gray;
  font-size: 0.8em;
}

.footnotes hr {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}
.footnotes ol {
  margin-left: 2em;
}
.footnotes li {
  font-size: 0.875em;
}

a.noteref {
  display: inline-block;
  border: none;
  font-size: 0.75em;
  line-height: 1;
  vertical-align: super;
  -epub-text-combine: horizontal;
}
a.noteref:before {
  content: "[";
}
a.noteref:after {
  content: "]";
}

blockquote {
  margin-right: 1em;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

@media print {
  h1 {
    page-break-before: always;
  }

  h1, h2, h3,
  h4, h5, h6 {
    page-break-after: avoid;
  }

  ul, ol, dl {
    page-break-before: avoid;
  }
}
table{
	width: 100%;
}
.summery{
  width:70%;
}
.center{
	text-align:center;
}
.left{
	text-align:left;
}
.separator{
	text-align:center;
  margin: 1.2em;
}
.separator img{
	width: 3em;
}

.information{
  page-break-before: always;
	border-bottom: solid 1px orange;
}

.talk {
	padding-left:6em;
	text-indent:-6em;
	padding-bottom: 0.2em;
/*	border: solid 1px green;*/
}
