@charset "UTF-8";
/* でんでんコンバーター横書きデフォルト */
@namespace "http://www.w3.org/1999/xhtml";
@namespace epub "http://www.idpf.org/2007/ops";
html {
  -epub-writing-mode: horizontal-tb;
}

body {
  line-height: 1.8;
  text-align: justify;
  word-break: break-all; 
  text-justify: inter-ideograph;
  text-justify: inter-character;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-family: sans-serif, serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: bold;
  padding: 0;
  margin: 0;
  margin-bottom: 0.5em;
  color: inherit;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1.1em;
}

b, strong, .strong {
  font-weight: bold;
  font-family: sans-serif, serif;
}
.strong {
  margin-top: 0.3em;
}
dt, caption, figcaption, th {
  font-family: sans-serif, serif;
}

blockquote, ul,
fieldset, form,
ol, dl, menu {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding: 0;
}

blockquote blockquote, blockquote ol, blockquote ul, blockquote dl, ol blockquote, ol ol, ol ul, ol dl, ul blockquote, ul ol, ul ul, ul dl, dl blockquote, dl ol, dl ul, dl dl {
  margin-top: 0em;
  margin-bottom: 0em;
}

ol, ul, menu, dd {
  margin-left: 2em;
}

a {
  color: #0538b2;
}
a:hover {
  color: #b2058e;
}
a:active {
  color: #b27f05;
}

pre {
  white-space: pre-wrap;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.centerimage{
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
	text-align: center;
}

hr {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

rt {
  font-family: serif, sans-serif;
}

.tcy {
  -epub-text-combine: horizontal;
}

.sideways {
  -epub-text-orientation: sideways;
}

.upright {
  -epub-text-combine: horizontal;
}

.section{
  margin-right: 1em;
  margin-left: 1em;
  margin-top: 25%;
}

.lyrics{
  margin-right: 1em;
  margin-left: 1em;
  margin-top: 3em;
}

.pagenum {
  color: gray;
  font-size: 0.8em;
}

.footnotes hr {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}
.footnotes ol {
  margin-left: 2em;
}
.footnotes li {
  font-size: 0.875em;
}

a.noteref {
  display: inline-block;
  border: none;
  font-size: 0.75em;
  line-height: 1;
  vertical-align: super;
  -epub-text-combine: horizontal;
}
a.noteref:before {
  content: "[";
}
a.noteref:after {
  content: "]";
}

blockquote {
  margin: 1em;
  border-left: solid 8px silver;
  padding: 1em;
}
blockquote.noborder{
  border-left: none;
  padding: 0;
}

a {
  text-decoration: none;
}

@media print {
  h1 {
    page-break-before: always;
  }

  h1, h2, h3,
  h4, h5, h6 {
    page-break-after: avoid;
  }

  ul, ol, dl {
    page-break-before: avoid;
  }
}
table{
	width: 100%;
}
.summery{
  width:70%;
}
.center{
	text-align:center;
}
.left{
	text-align:left;
}
.separator{
	text-align:center;
  margin: 1.2em;
}
.separator img{
	width: 3em;
}

div.outerbox{
  width: 100%;
  height: 100%;
  max-height: 40em;
  -epub-writing-mode: vertical-rl;
  margin: 0;
  text-align: center;
  padding: 0;
}

.infotable{
  margin: auto;
  padding: 0 10%;
  text-align: left;
  display: block;
  width: 100%;
  font-size: 0.9em;
  -epub-writing-mode: horizontal-tb;
}
.infotable div{
  margin: auto;
  width: 30em;
}
.infotable .logo{
   width: 10em;
   height: 10em;
}
p, div {
  text-align: justify;
  margin: 1em 0 0 0;
}

.midwrap, .wrap{
  -epub-writing-mode: vertical-rl;
  margin: 0;
  padding: 0;
  height: 100%;
  max-height: 40em;
  text-align: center;
}
.centerwrap{
  -epub-writing-mode: horizontal-tb;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}
.midwrap .centerwrap img{
/*   height: 10em;*/
}

.mid, .menubox{
  -epub-writing-mode: horizontal-tb;
  margin: auto;
  padding: 0 10%;
  width: 80%;
  text-align: left;
  display: block;
}

.midcenter{
  -epub-writing-mode: horizontal-tb;
  margin: auto;
  padding: 0 10%;
  width: 80%;
  text-align: center;
  display: block;
}
.highline{
  font-size: 1.2em;
  line-height: 2.4;
}
.cright{
  margin-top: 2em;
  text-align:right;
  font-size: 0.6em;
}
.title, .shortletter{
  -epub-writing-mode: horizontal-tb;
  margin: 0 5%;
  padding: 0;
  width: 88%;
  display: inline-block;
}
.bullet{
   width: 2.2em;
}
.chaptertop{
   width: 12em;
}

.skit{
  margin-left: 0.75em;
}
.skit div{
  margin: 0 1em 0.3em 0;
  text-indent: -1em;
  padding-left: 1em;
}
blockquote .skit{
  margin: 0.3em 0 0.3em 0;
}
blockquote .skit div{
  margin: 0 0 0 0;
}
.miniblock{
  margin: 0 0 0.5em 0;
}
.skit .miniblock{
  margin: 0 1em 0.5em 0;
  text-indent: 0;
  padding-left: 0;
}
.scene div{
  margin: 0 1em 0.3em 1em;
  text-indent: -4em;
  padding-left: 4em;
}
.tagline{
  margin: 0;
  margin-left: 3em;
  font-size: 0.85em;
}
.subheader{
  font-family: serif;
  page-break-after: avoid;
  font-size: 1.18em;
  font-family: inherit;
  font-weight: bold;
  padding: 0;
  margin: 1em 0 0.3em 0;
  color: inherit;
}
.skit .subsubheader{
  font-family: serif;
  font-size: 1em;
  font-family: inherit;
  font-weight: bold;
  padding: 0;
  margin: 1em 1em 0 0;
  color: inherit;
}
